{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}

<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="w-75">
        <h1>{{ controller_name }}! ✅</h1>

        <table class="table mt-5">
            <thead>
                <tr>
                    <th>Id Client</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Adresse</th>
                    <th>CP</th>
                    <th>Ville</th>
                    <th>Référence Commandes</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.lastname}}</td>
                    <td>{{user.firstname}}</td>
                    <td>{{user.address}}</td>
                    <td>{{user.zipcode}}</td>
                    <td>{{user.city}}</td>
                    {% for oder in user.orders %}
                    <td>{{order.id}}</td>
                    {% endfor %}
                </tr>

            </tbody>
        </table>

    </div>
</div>
{% endblock %}
