{% extends 'base.html.twig' %}

{% block title %}Hello ProductsController!{% endblock %}

{% block body %}
<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="w-75">
        <h1>{{ controller_name }}! ✅</h1>

        <table class="table mt-5">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Détails</th>
                    <th>Prix</th>
                    <th>Stocks</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>{{product.id}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.description}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.stock}}</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>

    </div>
</div>
{% endblock %}