{% extends 'base.html.twig' %}

{% block title %}Hello ProductsController!{% endblock %}

{% block body %}
 

    <div class="d-flex justify-content-space-between align-items-start gap-3 mt-5">
        {% include('_partials/_filter.html.twig') with { form: form } only %}
        <div class="w-75">
            <h1>{{ controller_name }}! ✅</h1>
    
            <table class="table mt-5">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Détails</th>
                        <th>Prix</th>
                        <th>Stocks</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>{{product.id}}</td>
                        <td>{{product.name}}</td>
                        <td>{{product.description}}</td>
                        <td>{{product.price}}</td>
                        <td>{{product.stock}}</td>
                    </tr>
                    {% endfor %}
    
                </tbody>
            </table>
    
        </div>
    </div>

{% endblock %}