<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Accueil{% endblock %} - Site Ecommerce Symfony6</title>
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <meta>

    <link rel="stylesheet" href="{{asset('assets/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{asset('assets/css/style.css')}}">

    {% block stylesheets %}
    {% endblock %}

    <script src="{{asset('assets/js/bootstrap.min.js')}}" defer></script>
    <script src="{{asset('assets/js/script.js')}}"></script>

    {% block javascripts %}
    {% endblock %}
</head>

<body>
    {{ include('_partials/_nav.html.twig') }}

    <div class="container">
        {% include "_partials/_flash.html.twig" %}

        {% if app.user and app.user.isVerified == false %}
        <div class="alert alert-warning alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Attention! Votre compte n'est pas activé</strong>
            <a href="{{path('resend_verif')}}">
                Renvoyer le lien d'activation.
            </a>
        </div>

        {% endif %}

        {% block body %}

        {% endblock %}
    </div>

    {{ include('_partials/_footer.html.twig') }}

</body>

</html>